@import "http://maxcdn.boostrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";
html {
scroll-behavior:smooth;

}

*{    
font-family: 
century gothic;

}

header{
background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url("jee.jpg");
   
height: 110vh;
    
background-size: cover;
    
background-position: center;

}

section img{
height: 100vh;
width:100%;    
background-size: cover;    
background-position: center;

}
nav {
    background-color: white ;
    width:auto;
    height: 100px;
}


nav ul{
    
float: right;
    
list-style-type: none;
   
margin-top: 25px; 
 

}

nav ul li{
    
display: inline-block;
    

}

nav ul li a{
    
text-decoration: none;
    
color: #000;
    
padding: 5px 20px;
    
border: 1px solid transparent;
    
transition: 0.6s ease;

}

nav ul li a:hover{
    
background-color: skyblue;
    
color: #000;

}

nav ul li.active a{
    
background-color: #fff;
    
color: #000;

}

 nav .p1 img{
    
float: left;
// position:fixed;
    
width: 100px;
    
height: auto;

}

.main{
    
max-width: 1200px;
    
margin: auto;
}

.c2{
color:white;
family-font:arial;
//position:fixed;
}

img{
 padding:5px;
}

img:hover{
  transform: scale(1.3,1.3);
  transition: .3s transform;

}

